body {
    text-align: center;
    padding: 25px;
}
.right-div {
    float: right;
    margin-left: 100px;
}

.hide {
    display: none;
}

#buttons {
    margin: auto;
    width: 50%;
    padding: 0px;
}

.card {
    text-align: center;

}
.card-text {
    margin: 25px;
    font-size: 16px;
    text-align: center;
    padding: 0px;
}
.card-header {
    font-size: 25px;
}